* {
  transition: 0.5s;
}
nav.nav.navbar ul li {
  list-style: none;
  margin: 5px 15px;
}

nav.nav.navbar ul li a {
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

nav.nav.navbar ul li a:hover {
  color: rgb(135, 135, 135);
  transform: scale(1.2);
  /* transform: scale(1.2); */
}

nav.nav.navbar ul li a.active {
  color: rgb(135, 135, 135);
  font-weight: bold;
  cursor: default;
  transform: scale(1.2);
}
